<section id="right_individual" class="right charts">

    <div class="tag">
        <p id="InditagBar" class="chartsTag select">Bar Chart</p>
        <p id="InditagPie" class="chartsTag">Pie Chart</p>
        <p id="InditagBarUserTotal" class="chartsTag">User Total Chart</p>
    </div>

    <!--for css loading animation-->
    <div id="IndiRightSpinner" class="spinner IndiSpinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <div id="IndiCharts">
        <div id="IndiChartBar" class="bar"></div>

        <div id="IndiChartPie" class="pie"></div>

        <div id="IndiChartBarUserTotal" class="bar"></div>
    </div>


</section>