<section id="right_overall" class="right charts">

    <div class="tag">
        <p id="OvertagBar" class="chartsTag select">Bar Chart</p>
        <p id="OvertagPie" class="chartsTag">Pie Chart</p>
    </div>

    <!--for css loading animation-->
    <div id="Overspinner" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <div id="OverChartBar" class="bar"></div>

    <div id="OverChartPie" class="pie"></div>

</section>