<!DOCTYPE html>
<html>
<head>
    <title>DataAnalytic</title>
    <link rel='stylesheet' href='/stylesheets/DataAnalyticMainPage.css' />
</head>
<body>

<header>
    <h1>Data Analytic Web Application</h1>
    <p>Lu Zheng</p>
    <nav>
        <a id="overPageTag" class="current" href="javascript:;">Overall analysis</a>
        <a id="indiPageTag" href="javascript:;">Article analysis</a>
    </nav>
</header>

<section id="mainBody">

    <section id="left"><%= MostRevArticle._id %></section>
    <section id="right"></section>

</section>

<footer>

</footer>

</body>
</html>