/**
 * Created by zhenglu on 1/07/2017.
 */
@import url(baseStyleSheet.css);

body, html{
    background-color: #eaeced;
    height: 100%;
    border-top: 2px solid #fc0;
}

/*style in header*/
header{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #2b2b2b;
}
header h1{
    color: #eaeced;
    font-size: 40px;
    position: absolute;
    bottom: 59px;
    left: 150px;
}
header a{
    text-decoration: none;
    color: #bfbfbf;
    font-size: 26px;
    margin-right: 20px;
}
header p{
    color: #bfbfbf;
    position: absolute;
    bottom: 27px;
    left: 153px;
    font-size: 18px;
}
header .current{
    color: #fc0;
}
header nav{
    position: absolute;
    bottom: 10px;
    right: 80px;
}

/*style in mainbody*/
#mainBody{
    overflow: hidden;
    margin-top: 30px;
    margin-left: 40px;
}
#left{
    width: 40%;
    float: left;
}
#right{
    width: 50%;
    float: right;
    margin-right: 50px;
}

/*style in footer*/
footer{
    position: absolute;
    bottom: -215px;
    width: 100%;
    height: 180px;
    background-color: #2b2b2b;
    font-size: 14px;
}